.thin-photo-border {
    border: 3px solid rgb(120, 120, 240); 
    border-radius: 20%;
}
.orange-text {
    color: orange;
}
h1 {
    color: rgb(94, 114, 168);
    font-family: 'Inconsolata', monospace;
}
p {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
ul li {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.smaller-image {
    height: 550px; 
    width: auto;
}

#choose-your-adventure-text {
    background-color: rgb(102, 69, 75);
    color: #fff;
    padding: 20px;
}

#main-view {
    background-color: rgb(108, 153, 155);
    text-align: center;
    list-style-position: inside;
};